body{
    width: 100%;
    height: 4560px;
    margin: 0;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
}
.advice{
    width: 950px;
    height: 110px;
    margin: 0 auto;
    margin-top: 60px;
    border: 4px solid black;
    border-left: none;
    border-right: none;
    font-size: 32px;
    font-weight: bold;
    text-align: justify;
    background: linear-gradient(to top, rgb(119, 119, 248), rgb(109, 252, 109));
}
.advice p{
    margin-top: 10px;
}
.pgutsu{
    width: 950px;
    margin: 0 auto;
    display: flex;
    margin-top: 20px;
}
.pgutsu img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.name{
    margin-left: 13px;
}  

.ibelieve{
    font-size: 40px;
    width: 750px;
    margin: 0 auto;
    text-align: center;
}
.ibelieve p{
    margin-top: 0;
    margin-bottom: 0;
}
.overline{
    width: 150px;
    height: 45px;
    margin: 0 auto;
    margin-top: 170px;
    border: 1px solid black;
    border-left: none;
    border-right: none;
    border-bottom: none;
}
.underline{
    width: 150px;
    height: 45px;
    margin: 0 auto;
    border: 1px solid black;
    border-top: none;
    border-left: none;
    border-right: none;
}
.advantages{
    width: 700px;
    margin: 0 auto;
    margin-top: 180px;
    font-size: 25px;
    text-align: center;
    height: 300px;
}
.advantages div{
    width: 300px;
    height: 130px;
    margin: 0 auto;
}
.firstpos,.secondpos,.thirdpos{
    display: flex;
}
.possibilities img{
    width: 110px;
    height: 120px;
}
.possibilities{
    width: 800px;
    height: 680px;
    margin: 0 auto;
    font-size: 17px;
}
.possibilities h3,.possibilities p{
    margin-left: 20px;
}
.futuredev{
    width: 500px;
    height: 270px;
    margin: 0 auto;
    text-align: center;
    font-size: 24px;
}
.developers{
    width: 100%;
    height: 470px;
    display: flex;
    justify-content: space-around;
}
.person1,.person2,.person3,.person4{
    height: 210px;
    width: 210px;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}
.developers img{
    width: 220px;
    height: 210px;
    border-radius: 50%;
}
.movie{
    height: 550px;
}
.movie div{
    width: 1000px;
    height: 550px;
    margin: 0 auto;
}
iframe{
    width: 1000px;
    height: 550px;
}
.salary{
    height: 200px;
    margin-top: 180px;
    display: flex;
    justify-content: space-evenly;
}
.starting,.sixmonth,.oneyear,.threeyears{
    width: 240px;
}
.salary h1{
    font-size: 28px;
    margin-bottom: 18px;
}
.salary p{
    border: 4px solid black;
    border-bottom: none;
    border-left: none;
    border-right: none;
    margin-top: 2px;
    padding-top: 20px;
}
.analysis{
    width: auto;
    height: 500px;
    margin-top: 170px;
    font-size: 18px;
}
.analysis table td{
    border: 1px solid rgb(158, 151, 151);
}
.analysis table{
    border-collapse: collapse;
    margin: 0 auto;
    width: 1100px;
    height: 330px;
    text-align: center;
}
.competitorsanalysis{
    background-color: rgb(110, 109, 109);
    font-weight: bold;
    font-size: 23px;
}
.totalcost,.permonth,.empty{
    background-color: rgb(231, 231, 231);
}
.maincolumn{
    background-color: rgb(177, 173, 173);
    font-weight: bold;
}
.tobecontinued{
    width: 210px;
    height: 120px;
    margin: 0  auto;
    font-size: 48px;
}
.footer{
    background-color:rgb(0, 0, 0);
    width: 100%;
    height: 240px;
    color: grey;
    margin-top: 100px;
    font-size: 14px;
}
.tilda{
    width: 600px;
    height: 240px;
    margin: 0 auto;
}
.pic{
    width: 50px;
    height: 50px;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
}
.pic img{
    width: 50px;
    height: 50px;
}
.text{
    margin-top: 20px;
    width: 370px;
    height: 60px;
    text-align: center;
    margin: 0 auto;
}
.tilda .btn{
    width: 150px;
    margin: 0 auto;
}
.btn{
    width: 150px;
    height: 40px;
    background-color: grey;
    text-align: center;
    border-radius: 40px;
    color: black; 
    border: none;
    
}        
.btn p{
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 10px;
    text-decoration: underline grey;
}
.btn:hover{
    box-shadow: 0 0 3px 3px grey;
    background-color: white;
}
.tilda:hover{
    color: rgb(253, 253, 253);
}
.about{
    text-align: center;
    width: 500px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 20px;
}
.about a{
    color: grey;
    text-decoration: none;
}
.about a:hover{
    color: white;
}
